:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: rgb(170, 92, 219);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lexend Deca';
}

body {
    font-size: 1.5rem;
    background-color: var(--very-dark-blue);
}

.insights-card {
    margin: 5rem auto;
    width: 33rem;
    height: auto;
    border-radius: 10px;
    background-color: var(--dark-desaturated-blue);
    color: var(--white);
}

.insights-card__image {
    position: relative;
    width: auto;
    height: 24rem;
    background-image: url('../images/image-header-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
}

.insights-card__image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(170, 92, 219, 0.5);
    border-radius: 10px 10px 0 0;
}

.insights-card__information {
    padding: 3.5rem 2.5rem;
}

.insights-card__title {
    margin-bottom: 2rem;
    font-family: 'Inter';
    text-align: center;
}

.insights-card__title-highlight {
    color: var(--soft-violet);
}

.insights-card__description {
    margin: 0 auto 3rem;
    width: 26rem;
    font-family: 'Inter';
    color: var(--slightly-transparent-white-paragraphs);
    text-align: center;
    line-height: 1.8;
}

.insights-card__stats-companies,
.insights-card__stats-templates,
.insights-card__stats-queries {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
}

.insights-card__stats-companies,
.insights-card__stats-templates {
    margin-bottom: 3rem;
}

.insights-card__stats-span {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--slightly-transparent-white-paragraphs);
}

@media screen and (min-width: 71.875rem) {
    .insights-card {
        display: flex;
        flex-direction: row-reverse;
        margin: 10rem auto;
        width: 111rem;
        height: 44.5rem;
    }

    .insights-card__image {
        width: 54rem;
        height: auto;
        background-image: url('../images/image-header-desktop.jpg');
        border-radius: 0 10px 10px 0;
    }

    .insights-card__image-overlay {
        border-radius: 0 10px 10px 0;
    }

    .insights-card__information {
        padding: 7rem 7.3rem 6rem;
        width: 57rem;
        height: auto;
    }

    .insights-card__title {
        margin-bottom: 2.3rem;
        font-size: 3.6rem;
    }

    .insights-card__description {
        margin: 0 0 7rem 0;
        width: 36rem;
    }

    .insights-card__title,
    .insights-card__description {
        text-align: left;
    }

    .insights-card__stats {
        display: flex;
    }

    .insights-card__stats-companies,
    .insights-card__stats-templates,
    .insights-card__stats-queries {
        font-size: 2.5rem;
        text-align: left;
    }
    
    .insights-card__stats-companies,
    .insights-card__stats-templates {
        margin: 0 6rem 0 0;
    }
    
    .insights-card__stats-span {
        font-family: 'Lexend Deca';
        font-size: 1.2rem;
    }
}